/* CSS Document */

@media (min-width: 992px) {
  .ng-theme #home .header-top .topbar{
  }

}

@media (min-width: 768px) and (max-width: 992px) {
.ng-theme #home .header-top .topbar{
  display: none;
}
}

@media (min-width: 320px) and (max-width: 768px) {
    /* INDEX open*/
    .wrapper {
    padding-top: 74px;
    }
    .ng-theme .box-collect .collect-item,
    .ng-theme .box-collect .collect-item .list-items{
      padding:5px 0px;
    }
    .ng-theme #home .header-top .topbar,
    #home .header-top .topbar,
    #home .box-top{
      display: none;
    }
    .ng-theme #home .menu-mobile .navbar-inverse,
    #home .menu-mobile .navbar-inverse{
      background-color:#fff;
    }
    .ng-theme #home .menu-mobile .navbar-inverse .navbar-header-mobile,
    #home .menu-mobile .navbar-inverse .navbar-header-mobile{
      border-bottom: 1px solid #ececec;
      background-color: #ffb41f;
    }
    .ng-theme #home .menu-mobile .navbar-inverse .collapsed,
    #home .menu-mobile .navbar-inverse .collapsed,
    .ng-theme #home .menu-mobile .navbar-inverse .navbar-toggle,
    #home .menu-mobile .navbar-inverse .navbar-toggle,
    .ng-theme #home .menu-mobile .navbar-inverse .navbar-toggle:hover,
    #home .menu-mobile .navbar-inverse .navbar-toggle:hover{
      margin-top:22px;
    }
    .ng-theme #home .menu-mobile .navbar-inverse .navbar-toggle:hover,
    #home .menu-mobile .navbar-inverse .navbar-toggle:hover{
      background-color: #d68a00;
      border-color:#d68a00;
    }
    .ng-theme #home .menu-mobile .navbar-inverse .navbar-toggle .icon-bar,
    #home .menu-mobile .navbar-inverse .navbar-toggle .icon-bar{
      background-color: #ffae0f;
    }
    .ng-theme #home .menu-mobile .navbar-inverse .navbar-nav,
    #home .menu-mobile .navbar-inverse .navbar-nav{
      margin-top:0px;
    }
    .ng-theme #home .menu-mobile .navbar-inverse .collapsed .icon-bar,
    #home .menu-mobile .navbar-inverse .collapsed .icon-bar,
    .ng-theme #home .menu-mobile .navbar-inverse .navbar-toggle .icon-bar,
    #home .menu-mobile .navbar-inverse .navbar-toggle .icon-bar{
      background-color: #585858;
    }
    .ng-theme #home .menu-mobile .navbar-header .navbar-logo-mobile,
    #home .menu-mobile .navbar-header .navbar-logo-mobile{
      background: url('../images/logo-ellievu-mobile@2x.png') 24px 17px no-repeat;
      background-size: 138px 63px;
      width: 219px;
      height: 73px;
      display: block;
    }
    #newsletter .para-thank form table tr td .tnp-email{
      outline: none;
    }
    .ng-theme #home .menu-mobile .navbar-collapse ul li a .fa{
      padding-left:10px;
    }
    .slider{
      display: none;
    }
    .slider-mobile{
      display: block;
    }
    .collect-item .list-item-left2 .items .link-image a, .collect-item .list-item-left .items .link-image a, .collect-item .list-item-right2 .items .link-image a, .collect-item .list-item-right .items .link-image a,
    .collect-item .list-item-left2 .items, .collect-item .list-item-left .items, .collect-item .list-item-right2 .items, .collect-item .list-item-right .items{
      width: 100%;
    }
    .collect-item .list-item-right2 .items{
      margin-left: 0px;
    }
    .list-item-cover .items .link-image a img{
      width: 100%;
    }
    .box-collect{
      padding-top:0px;
    }
    .box-collect .collect-item,
    .box-collect .collect-item .list-item-cover {
      padding:0px;
    }
    .collect-item .list-item-left .items{
      margin-left: 0px;
    }
    .menu-mobile{
      display: block;
    }
    /* INDEX close*/

    /* LIST open*/
    .best-seller .items-in-list .link-title, .box-list .items-in-list .link-title{
      width: 100%;
    }
    .in-box-breadcrumn a{
      padding-top: 16px;
    }
    .in-box-breadcrumn .woocommerce-breadcrumb, .in-box-breadcrumn .woocommerce-breadcrumb a{
      height: 32px!important;
    }
    .box-list .filter,
    .box-list .filter .count-items,
    .box-list .listing
    {
      padding:0px;
    }
    /* LIST close*/

    /* CATEGORY open*/
    .best-seller .items-in-list .link-image a, .box-list .items-in-list .link-image .to-link-image,
    .listing .link-image{
      width: 100%;
      height: auto;
    }

    /* CATEGORY close*/

    /* DETAIl open*/
    .content-detail{
      padding: 31px 0px;
    }
    .top-detail div.summary{
      margin-top: 20px;
    }
    /* DETAIl close*/

    /*LIST PROUDCT open*/
    .filter-price .woocommerce-ordering{
      float:left !important;
    }
    .filter-price:after, .filter-price:before{
      right: -121px;
    }
    .count-items .woocommerce-result-count{
      float:left !important;
    }
    .blog-box, .box-cart, .box-list{
      padding-top:10px;
    }
    #bx-pager2{
      margin: 6px 29px 7px 0;
    }
    .woocommerce-cart table.cart td.actions .coupon .input-text{
      float:none;
    }
    /*LIST PROUDCT close*/

    /*FORM open*/
    .ng-theme .checkout #main form.login .form-row input.input-text{
      width: 100%;
    }
    .box-cart-checkout form .form-row .input-text{
      background-color: #f7f7f7;
      outline: none;
      border: none;
    }
    /*FORM close*/

    /*BLOG open*/
    .ng-theme  .blog-box .content-blog,
    .ng-theme  .blog-box .content-blog .content-blog-left,
    .ng-theme  .blog-box .content-blog .content-blog-left .feature{
      padding:0px;
    }
    .img-item-blog a {
      width: 100%;
    }
    .list-news-blog{
      padding:0px;
    }
    .title-item-blog .title-item{
      margin: 10px 0px;
    }
    .img-list-review a{
      width: 100%;
    }
    /*BLOG close*/

    /*MAP open*/
    #map{
      width: 100%;
    }
    /*MAP close*/

    #home .block-search .ic-languages-top a {
        background: url('../images/eng-flag@2x.png') no-repeat 0px 0px;
        background-size: 22px 22px;
    }
}
