/* CSS Document */

@media (min-width: 992px) {
    /*.tab{width: 50% ;}*/
}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 320px) and (max-width: 768px) {
    /* INDEX open*/
    .collect-item .list-item-left2 .items .link-image a, .collect-item .list-item-left .items .link-image a, .collect-item .list-item-right2 .items .link-image a, .collect-item .list-item-right .items .link-image a,
    .collect-item .list-item-left2 .items, .collect-item .list-item-left .items, .collect-item .list-item-right2 .items, .collect-item .list-item-right .items{
      width: 100%;
    }
    .collect-item .list-item-right2 .items{
      margin-left: 0px;
    }
    .list-item-cover .items .link-image a img{
      width: 100%;
    }
    .box-collect{
      padding-top:0px;
    }
    /* INDEX close*/

    /* CATEGORY open*/
    .best-seller .items-in-list .link-image a, .box-list .items-in-list .link-image .to-link-image,
    .listing .link-image{
      width: 100%;
      height: auto;
    }

    /* CATEGORY close*/

    /* DETAIl open*/
    .content-detail{
      padding: 31px 0px;
    }
    .top-detail div.summary{
      margin-top: 20px;
    }
    /* DETAIl close*/


    #home .block-search .ic-languages-top a {
        background: url('../images/eng-flag@2x.png') no-repeat 0px 0px;
        background-size: 22px 22px;
    }
}
