.box-cart-checkout #content div.product .box-cart-checkout-tabs ul.tabs:after,
.box-cart-checkout #content div.product .box-cart-checkout-tabs ul.tabs:before,
.box-cart-checkout #content div.product div.thumbnails:after,
.box-cart-checkout #content div.product div.thumbnails:before,
.box-cart-checkout .col2-set:after,
.box-cart-checkout .col2-set:before,
.box-cart-checkout div.product .box-cart-checkout-tabs ul.tabs:after,
.box-cart-checkout div.product .box-cart-checkout-tabs ul.tabs:before,
.box-cart-checkout div.product div.thumbnails:after,
.box-cart-checkout div.product div.thumbnails:before,
.box-cart-checkout-page #content div.product .box-cart-checkout-tabs ul.tabs:after,
.box-cart-checkout-page #content div.product .box-cart-checkout-tabs ul.tabs:before,
.box-cart-checkout-page #content div.product div.thumbnails:after,
.box-cart-checkout-page #content div.product div.thumbnails:before,
.box-cart-checkout-page .col2-set:after,
.box-cart-checkout-page .col2-set:before,
.box-cart-checkout-page div.product .box-cart-checkout-tabs ul.tabs:after,
.box-cart-checkout-page div.product .box-cart-checkout-tabs ul.tabs:before,
.box-cart-checkout-page div.product div.thumbnails:after,
.box-cart-checkout-page div.product div.thumbnails:before {
    content: " ";
    display: table
}
.box-cart-checkout #content div.product .box-cart-checkout-tabs,
.box-cart-checkout #content div.product .box-cart-checkout-tabs ul.tabs:after,
.box-cart-checkout #content div.product div.thumbnails a.first,
.box-cart-checkout #content div.product div.thumbnails:after,
.box-cart-checkout .cart-collaterals:after,
.box-cart-checkout .col2-set:after,
.box-cart-checkout .box-cart-checkout-pagination ul.page-numbers:after,
.box-cart-checkout div.product .box-cart-checkout-tabs,
.box-cart-checkout div.product .box-cart-checkout-tabs ul.tabs:after,
.box-cart-checkout div.product div.thumbnails a.first,
.box-cart-checkout div.product div.thumbnails:after,
.box-cart-checkout ul.products,
.box-cart-checkout ul.products li.first,
.box-cart-checkout ul.products:after,
.box-cart-checkout-page #content div.product .box-cart-checkout-tabs,
.box-cart-checkout-page #content div.product .box-cart-checkout-tabs ul.tabs:after,
.box-cart-checkout-page #content div.product div.thumbnails a.first,
.box-cart-checkout-page #content div.product div.thumbnails:after,
.box-cart-checkout-page .cart-collaterals:after,
.box-cart-checkout-page .col2-set:after,
.box-cart-checkout-page .box-cart-checkout-pagination ul.page-numbers:after,
.box-cart-checkout-page div.product .box-cart-checkout-tabs,
.box-cart-checkout-page div.product .box-cart-checkout-tabs ul.tabs:after,
.box-cart-checkout-page div.product div.thumbnails a.first,
.box-cart-checkout-page div.product div.thumbnails:after,
.box-cart-checkout-page ul.products,
.box-cart-checkout-page ul.products li.first,
.box-cart-checkout-page ul.products:after {
    clear: both
}
.box-cart-checkout .col2-set,
.box-cart-checkout-page .col2-set {
    width: 100%
}
.box-cart-checkout .col2-set .col-1,
.box-cart-checkout-page .col2-set .col-1 {
    float: left;
    width: 48%
}
.box-cart-checkout .col2-set .col-2,
.box-cart-checkout-page .col2-set .col-2 {
    float: right;
    width: 48%
}
.box-cart-checkout img,
.box-cart-checkout-page img {
    height: auto;
    max-width: 100%
}
.box-cart-checkout #content div.product div.images,
.box-cart-checkout div.product div.images,
.box-cart-checkout-page #content div.product div.images,
.box-cart-checkout-page div.product div.images {
    float: left;
    width: 48%
}
.box-cart-checkout #content div.product div.thumbnails a,
.box-cart-checkout div.product div.thumbnails a,
.box-cart-checkout-page #content div.product div.thumbnails a,
.box-cart-checkout-page div.product div.thumbnails a {
    float: left;
    width: 30.75%;
    margin-right: 3.8%;
    margin-bottom: 1em
}
.box-cart-checkout #content div.product div.thumbnails a.last,
.box-cart-checkout div.product div.thumbnails a.last,
.box-cart-checkout-page #content div.product div.thumbnails a.last,
.box-cart-checkout-page div.product div.thumbnails a.last {
    margin-right: 0
}
.box-cart-checkout #content div.product div.thumbnails.columns-1 a,
.box-cart-checkout div.product div.thumbnails.columns-1 a,
.box-cart-checkout-page #content div.product div.thumbnails.columns-1 a,
.box-cart-checkout-page div.product div.thumbnails.columns-1 a {
    width: 100%;
    margin-right: 0;
    float: none
}
.box-cart-checkout #content div.product div.thumbnails.columns-2 a,
.box-cart-checkout div.product div.thumbnails.columns-2 a,
.box-cart-checkout-page #content div.product div.thumbnails.columns-2 a,
.box-cart-checkout-page div.product div.thumbnails.columns-2 a {
    width: 48%
}
.box-cart-checkout #content div.product div.thumbnails.columns-4 a,
.box-cart-checkout div.product div.thumbnails.columns-4 a,
.box-cart-checkout-page #content div.product div.thumbnails.columns-4 a,
.box-cart-checkout-page div.product div.thumbnails.columns-4 a {
    width: 22.05%
}
.box-cart-checkout #content div.product div.thumbnails.columns-5 a,
.box-cart-checkout div.product div.thumbnails.columns-5 a,
.box-cart-checkout-page #content div.product div.thumbnails.columns-5 a,
.box-cart-checkout-page div.product div.thumbnails.columns-5 a {
    width: 16.9%
}
.box-cart-checkout #content div.product div.summary,
.box-cart-checkout div.product div.summary,
.box-cart-checkout-page #content div.product div.summary,
.box-cart-checkout-page div.product div.summary {
    float: right;
    width: 48%
}
.box-cart-checkout #content div.product .box-cart-checkout-tabs ul.tabs li,
.box-cart-checkout div.product .box-cart-checkout-tabs ul.tabs li,
.box-cart-checkout-page #content div.product .box-cart-checkout-tabs ul.tabs li,
.box-cart-checkout-page div.product .box-cart-checkout-tabs ul.tabs li {
    display: inline-block
}
.box-cart-checkout #content div.product #reviews .comment:after,
.box-cart-checkout #content div.product #reviews .comment:before,
.box-cart-checkout .box-cart-checkout-pagination ul.page-numbers:after,
.box-cart-checkout .box-cart-checkout-pagination ul.page-numbers:before,
.box-cart-checkout div.product #reviews .comment:after,
.box-cart-checkout div.product #reviews .comment:before,
.box-cart-checkout ul.products:after,
.box-cart-checkout ul.products:before,
.box-cart-checkout-page #content div.product #reviews .comment:after,
.box-cart-checkout-page #content div.product #reviews .comment:before,
.box-cart-checkout-page .box-cart-checkout-pagination ul.page-numbers:after,
.box-cart-checkout-page .box-cart-checkout-pagination ul.page-numbers:before,
.box-cart-checkout-page div.product #reviews .comment:after,
.box-cart-checkout-page div.product #reviews .comment:before,
.box-cart-checkout-page ul.products:after,
.box-cart-checkout-page ul.products:before {
    content: " ";
    display: table
}
.box-cart-checkout #content div.product #reviews .comment:after,
.box-cart-checkout div.product #reviews .comment:after,
.box-cart-checkout-page #content div.product #reviews .comment:after,
.box-cart-checkout-page div.product #reviews .comment:after {
    clear: both
}
.box-cart-checkout #content div.product #reviews .comment img,
.box-cart-checkout div.product #reviews .comment img,
.box-cart-checkout-page #content div.product #reviews .comment img,
.box-cart-checkout-page div.product #reviews .comment img {
    float: right;
    height: auto
}
.box-cart-checkout ul.products li.product,
.box-cart-checkout-page ul.products li.product {
    float: left;
    margin: 0 3.8% 2.992em 0;
    padding: 0;
    position: relative;
    width: 22.05%
}
.box-cart-checkout ul.products li.last,
.box-cart-checkout-page ul.products li.last {
    margin-right: 0
}
.box-cart-checkout-page.columns-1 ul.products li.product,
.box-cart-checkout.columns-1 ul.products li.product {
    width: 100%;
    margin-right: 0
}
.box-cart-checkout-page.columns-2 ul.products li.product,
.box-cart-checkout.columns-2 ul.products li.product {
    width: 48%
}
.box-cart-checkout-page.columns-3 ul.products li.product,
.box-cart-checkout.columns-3 ul.products li.product {
    width: 30.75%
}
.box-cart-checkout-page.columns-5 ul.products li.product,
.box-cart-checkout.columns-5 ul.products li.product {
    width: 16.95%
}
.box-cart-checkout-page.columns-6 ul.products li.product,
.box-cart-checkout.columns-6 ul.products li.product {
    width: 13.5%
}
.box-cart-checkout .box-cart-checkout-result-count,
.box-cart-checkout-page .box-cart-checkout-result-count {
    float: left
}
.box-cart-checkout .box-cart-checkout-ordering,
.box-cart-checkout-page .box-cart-checkout-ordering {
    float: right
}
.box-cart-checkout .box-cart-checkout-pagination ul.page-numbers li,
.box-cart-checkout-page .box-cart-checkout-pagination ul.page-numbers li {
    display: inline-block
}
.box-cart-checkout #content table.cart img,
.box-cart-checkout table.cart img,
.box-cart-checkout-page #content table.cart img,
.box-cart-checkout-page table.cart img {
    height: auto
}
.box-cart-checkout #content table.cart td.actions,
.box-cart-checkout table.cart td.actions,
.box-cart-checkout-page #content table.cart td.actions,
.box-cart-checkout-page table.cart td.actions {
    text-align: right
}
.box-cart-checkout #content table.cart td.actions .input-text,
.box-cart-checkout table.cart td.actions .input-text,
.box-cart-checkout-page #content table.cart td.actions .input-text,
.box-cart-checkout-page table.cart td.actions .input-text {
    width: 80px
}
.box-cart-checkout #content table.cart td.actions .coupon,
.box-cart-checkout table.cart td.actions .coupon,
.box-cart-checkout-page #content table.cart td.actions .coupon,
.box-cart-checkout-page table.cart td.actions .coupon {
    float: left
}
.box-cart-checkout #content table.cart td.actions .coupon label,
.box-cart-checkout table.cart td.actions .coupon label,
.box-cart-checkout-page #content table.cart td.actions .coupon label,
.box-cart-checkout-page table.cart td.actions .coupon label {
    display: none
}
.box-cart-checkout .cart-collaterals .shipping_calculator:after,
.box-cart-checkout .cart-collaterals .shipping_calculator:before,
.box-cart-checkout .cart-collaterals:after,
.box-cart-checkout .cart-collaterals:before,
.box-cart-checkout form .form-row:after,
.box-cart-checkout form .form-row:before,
.box-cart-checkout ul.cart_list li:after,
.box-cart-checkout ul.cart_list li:before,
.box-cart-checkout ul.product_list_widget li:after,
.box-cart-checkout ul.product_list_widget li:before,
.box-cart-checkout-page .cart-collaterals .shipping_calculator:after,
.box-cart-checkout-page .cart-collaterals .shipping_calculator:before,
.box-cart-checkout-page .cart-collaterals:after,
.box-cart-checkout-page .cart-collaterals:before,
.box-cart-checkout-page form .form-row:after,
.box-cart-checkout-page form .form-row:before,
.box-cart-checkout-page ul.cart_list li:after,
.box-cart-checkout-page ul.cart_list li:before,
.box-cart-checkout-page ul.product_list_widget li:after,
.box-cart-checkout-page ul.product_list_widget li:before {
    content: " ";
    display: table
}
.box-cart-checkout .cart-collaterals,
.box-cart-checkout-page .cart-collaterals {
    width: 100%
}
.box-cart-checkout .cart-collaterals .related,
.box-cart-checkout-page .cart-collaterals .related {
    width: 30.75%;
    float: left
}
.box-cart-checkout .cart-collaterals .cross-sells,
.box-cart-checkout-page .cart-collaterals .cross-sells {
    width: 48%;
    float: left
}
.box-cart-checkout .cart-collaterals .cross-sells ul.products,
.box-cart-checkout-page .cart-collaterals .cross-sells ul.products {
    float: none
}
.box-cart-checkout .cart-collaterals .cross-sells ul.products li,
.box-cart-checkout-page .cart-collaterals .cross-sells ul.products li {
    width: 48%
}
.box-cart-checkout .cart-collaterals .shipping_calculator,
.box-cart-checkout-page .cart-collaterals .shipping_calculator {
    width: 48%;
    clear: right;
    float: right
}
.box-cart-checkout .cart-collaterals .shipping_calculator:after,
.box-cart-checkout form .form-row-wide,
.box-cart-checkout form .form-row:after,
.box-cart-checkout ul.cart_list li:after,
.box-cart-checkout ul.product_list_widget li:after,
.box-cart-checkout-page .cart-collaterals .shipping_calculator:after,
.box-cart-checkout-page form .form-row-wide,
.box-cart-checkout-page form .form-row:after,
.box-cart-checkout-page ul.cart_list li:after,
.box-cart-checkout-page ul.product_list_widget li:after {
    clear: both
}
.box-cart-checkout .cart-collaterals .shipping_calculator .col2-set .col-1,
.box-cart-checkout .cart-collaterals .shipping_calculator .col2-set .col-2,
.box-cart-checkout-page .cart-collaterals .shipping_calculator .col2-set .col-1,
.box-cart-checkout-page .cart-collaterals .shipping_calculator .col2-set .col-2 {
    width: 47%
}
.box-cart-checkout .cart-collaterals .cart_totals,
.box-cart-checkout-page .cart-collaterals .cart_totals {
    float: right;
    width: 48%
}
.box-cart-checkout ul.cart_list li img,
.box-cart-checkout ul.product_list_widget li img,
.box-cart-checkout-page ul.cart_list li img,
.box-cart-checkout-page ul.product_list_widget li img {
    float: right;
    height: auto
}
.box-cart-checkout form .form-row label,
.box-cart-checkout-page form .form-row label {
    display: block
}
.box-cart-checkout form .form-row label.checkbox,
.box-cart-checkout-page form .form-row label.checkbox {
    display: inline
}
.box-cart-checkout form .form-row select,
.box-cart-checkout-page form .form-row select {
    width: 100%
}
.box-cart-checkout form .form-row .input-text,
.box-cart-checkout-page form .form-row .input-text {
    box-sizing: border-box;
    width: 100%
}
.box-cart-checkout form .form-row-first,
.box-cart-checkout form .form-row-last,
.box-cart-checkout-page form .form-row-first,
.box-cart-checkout-page form .form-row-last {
    float: left;
    width: 47%;
    overflow: visible
}
.box-cart-checkout form .form-row-last,
.box-cart-checkout-page form .form-row-last {
    float: right
}
.box-cart-checkout #payment .form-row select,
.box-cart-checkout-page #payment .form-row select {
    width: auto
}
.box-cart-checkout #payment .terms,
.box-cart-checkout #payment .wc-terms-and-conditions,
.box-cart-checkout-page #payment .terms,
.box-cart-checkout-page #payment .wc-terms-and-conditions {
    text-align: left;
    padding: 0 1em 0 0;
    float: left
}
.box-cart-checkout #payment #place_order,
.box-cart-checkout-page #payment #place_order {
    float: right
}
.box-cart-checkout-account .box-cart-checkout-MyAccount-navigation {
    float: left;
    width: 30%
}
.box-cart-checkout-account .box-cart-checkout-MyAccount-content {
    float: right;
    width: 68%
}
.box-cart-checkout-page.left-sidebar #content.twentyeleven {
    width: 58.4%;
    margin: 0 7.6%;
    float: right
}
.box-cart-checkout-page.right-sidebar #content.twentyeleven {
    margin: 0 7.6%;
    width: 58.4%;
    float: left
}
.twentyfourteen .tfwc {
    padding: 12px 10px 0;
    max-width: 474px;
    margin: 0 auto
}
.twentyfourteen .tfwc .product .entry-summary {
    padding: 0!important;
    margin: 0 0 1.618em!important
}
.twentyfourteen .tfwc div.product.hentry.has-post-thumbnail {
    margin-top: 0
}
.twentyfourteen .tfwc .product .images img {
    margin-bottom: 1em
}
@media screen and (min-width: 673px) {
    .twentyfourteen .tfwc {
        padding-right: 30px;
        padding-left: 30px
    }
}
@media screen and (min-width: 1040px) {
    .twentyfourteen .tfwc {
        padding-right: 15px;
        padding-left: 15px
    }
}
@media screen and (min-width: 1110px) {
    .twentyfourteen .tfwc {
        padding-right: 30px;
        padding-left: 30px
    }
}
@media screen and (min-width: 1218px) {
    .twentyfourteen .tfwc {
        margin-right: 54px
    }
    .full-width .twentyfourteen .tfwc {
        margin-right: auto
    }
}
.twentyfifteen .t15wc {
    padding-left: 7.6923%;
    padding-right: 7.6923%;
    padding-top: 7.6923%;
    margin-bottom: 7.6923%;
    background: #fff;
    box-shadow: 0 0 1px rgba(0, 0, 0, .15)
}
.twentyfifteen .t15wc .page-title {
    margin-left: 0
}
@media screen and (min-width: 38.75em) {
    .twentyfifteen .t15wc {
        margin-right: 7.6923%;
        margin-left: 7.6923%;
        margin-top: 8.3333%
    }
}
@media screen and (min-width: 59.6875em) {
    .twentyfifteen .t15wc {
        margin-left: 8.3333%;
        margin-right: 8.3333%;
        padding: 10%
    }
    .single-product .twentyfifteen .entry-summary {
        padding: 0!important
    }
}
.twentysixteen .site-main {
    margin-right: 7.6923%;
    margin-left: 7.6923%
}
.twentysixteen .entry-summary {
    margin-right: 0;
    margin-left: 0
}
#content .twentysixteen div.product div.images,
#content .twentysixteen div.product div.summary {
    width: 46.42857%
}
@media screen and (min-width: 44.375em) {
    .twentysixteen .site-main {
        margin-right: 23.0769%
    }
}
@media screen and (min-width: 56.875em) {
    .twentysixteen .site-main {
        margin-right: 0;
        margin-left: 0
    }
    .no-sidebar .twentysixteen .site-main {
        margin-right: 15%;
        margin-left: 15%
    }
    .no-sidebar .twentysixteen .entry-summary {
        margin-right: 0;
        margin-left: 0
    }
}
.rtl .box-cart-checkout .col2-set .col-1,
.rtl .box-cart-checkout-page .col2-set .col-1 {
    float: right
}
.rtl .box-cart-checkout .col2-set .col-2,
.rtl .box-cart-checkout-page .col2-set .col-2 {
    float: left
}
.rtl .box-cart-checkout form .form-row-first,
.rtl .box-cart-checkout form .form-row-last,
.rtl .box-cart-checkout-page form .form-row-first,
.rtl .box-cart-checkout-page form .form-row-last {
    float: right
}
.rtl .box-cart-checkout form .form-row-last,
.rtl .box-cart-checkout-page form .form-row-last {
    float: left
}
